.banner {
   background-color: $orange-100;
   padding-top: 48px;
   padding-bottom: 62px;
}

div.lines {
   width: 100%;
   height: 338px;
   overflow: hidden;
   position: absolute;
   top: 212px;
}

svg.gwlab-lines {
   width: 101%;
   height: 338px;
   margin-left: -5px;
}

.gwlab_lines_svg__cls-1,
.gwlab_lines_svg__cls-2,
.gwlab_lines_svg__cls-3 { 
   stroke-miterlimit:10;
   
   //we divide the line in multiple dashes (some full and other empty)
   //these dashes have 1000px in length
   //so there are one dash full of 1000px of length and then one dash empty of 1000px of length and so on and so forth
   stroke-dasharray: 1000;

   //we change the position of the dashes
   stroke-dashoffset: 1000;

   //now we animate the dashoffset
   //we reduce the offset of each dash so we have the impression that the dashes are moving
   animation: dash 5s linear forwards;
}

@keyframes dash {
   to {
      stroke-dashoffset: 0;
   }
}

// Ozstar Logo on review page banner
.review-logo {
   height: 3em;
   margin-top: -3em;

   @include media-breakpoint-up(md) {
      height: 4em;
      margin-top: 0.6em;
   }
}

.gwlab-circle {
   position: absolute; 
   bottom: -222px; 
   left: -222px; 
}

