[run]
omit =
    # Omit the virtual env
    */venv/*

    # Ignore manage.py files
    ./*manage.py

    # Ignore settings.py files
    gw_viterbi/*settings.py

    # Ignore local.py if one exists
    gw_viterbi/local.py

    # Ignore environment and base settings
    gw_viterbi/base.py
    gw_viterbi/environment.py
